# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
__pycache__
.vscode
.pytest_cache
.mypy_cache
data/ACIC2016
.DS_Store
# notebooks/archive

# Jupyter NB Checkpoints
.ipynb_checkpoints/


# virtual environments
.venv/
env/
venv/
/data/*
/results/outputs

# private data
.env